.ItemMain {
    display: flex;
    height: 40px;
    margin-top: 10px;
    padding: 5px 60px 5px 5px;
    align-items: center;
    font-size: 17px;
    font-family: calibri;
    border: solid 1px rgb(255, 176, 134);
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #fff9f9;
}

.ItemMain input {
    height: 18px;
    width: 18px;
}

.Date {
    display: flex;
    width: 80px;
    margin: 0 5px;
    font-size: 14px;
    font-style: italic;
}

.Date span {
    flex: auto
}

.Desc {
    overflow: hidden;
    width: 500px;
    padding: 0 10px;
    border-left: solid 2px #ccc;
    border-right: solid 2px #ccc;

}

.Person {
    width: 80px;
    text-align: center;
    margin: 0 5px;
}
